.inventory-page section {
  max-width: 992px;
  color: rgb(230, 230, 230);
}

.inventory-page main {
  margin: 0 !important;
}

.inventory-page section table td {
  text-align: center;
}

.inventory-page section table tr * {
  padding: 0.5rem 1rem;
  color: white;
}

.inventory-page section table tr {
  background-image: linear-gradient(rgb(7, 0, 70) 0%, rgb(70, 0, 70) 100%);
}

.inventory-page section :is(table, th, td) {
  border: 1px solid rgb(180, 180, 180) !important;
  border-collapse: collapse !important;
}

.inventory-page section .information {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .inventory-page section .information {
    grid-template-columns: 1fr;
  }
}
