.car-page section {
  max-width: 992px;
  color: rgb(230, 230, 230);
}

.car-page main {
  margin: 0 !important;
}

.car-page section table td {
  text-align: center;
}

.car-page section table tr * {
  padding: 0.5rem 1rem;
  color: white;
}

.car-page section table tr {
  background-image: linear-gradient(rgb(9, 0, 90) 0%, rgb(90, 0, 90) 100%);
}

.car-page section th {
  border-right: 1px solid rgb(180, 180, 180) !important;
}

.car-page section .information {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .car-page section .information {
    grid-template-columns: 1fr;
  }
}
