footer {
  background-image: linear-gradient(rgb(3, 0, 30) 0%, rgb(30, 0, 30) 100%);
}

footer h2 {
  color: rgb(200, 200, 200);
  font-family: Pacifico, cursive !important;
}

footer :is(h2, p) {
  margin: 0 !important;
}
