:root * {
  font-family: "Fredoka", sans-serif;
}

:root {
  font-size: large;
}

nav a {
  text-align: center;
}

.App {
  background-color: rgb(33, 37, 41) !important;
  color: white;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
